{% extends "base.html" %}
{% block content %}
	{% if g.user.is_authenticated %}
	<div class="container">
		<span class="col-md-1"></span>
		<h1> Hi, {{ user.username }}! </h1>
	</div>
	<p></p>
	<div class="container">
		<div class="form-group">
			<form action="" method="post" class="form-inline" name=new_post>
	    		{{ form.hidden_tag() }}
	    		<input class="form-control" type="text" name="body" />
	    		<button type="submit" class="btn btn-default">Submit Post</button>
			</form>
		</div>

		{% endif %}
	    {% for post in posts %}
	    <div>
	    	<p>
	    		<span class="col-md-1" style="text-align: right;"><b>{{ post.author.username }}</b></span>
	    		<span class="col-md-4">{{ post.body }}</span>
	    	</p>
	    	<br>
	    </div>
	    {% endfor %}
	</div>
{% endblock %}